<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="row" style="width:100%;">
        <div class="col-md-1">
          <h3>Shopping App</h3>

        </div>
        <div class="col-md-9">
            <button mat-button routerLink="" >Dashboard</button>
            <button mat-button routerLink="/shopping-list">Shopping List</button>

        </div>
        <div class="col-md-1" style="text-align:right;">           
                <span *ngIf="totalItems; else elseBlock"><mat-icon class="example-icon  pull-right" matBadge="{{totalItems}}" matBadgeColor="--danger" [ngStyle]="{'color':'white'}">shopping_cart</mat-icon></span>
                 <ng-template #elseBlock> <mat-icon class="example-icon pull-right"  >shopping_cart</mat-icon></ng-template>
        </div>
        </div>

      </mat-toolbar-row>
</mat-toolbar>
